
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Imagez!</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <!--<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"</script>-->
    <script src="https://cdn.firebase.com/js/client/2.4.1/firebase.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-app="imagez">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
       <ui-view></ui-view>
      </div>
    </div>

  <script type="text/ng-template" id="/home.html">
    <h1>Load and comment images</h1>
      <!--<div>
         <form>
            <input type="file" name="pic" accept="image/*">
            <input type="submit">
          </form>
        </div>-->
        <div class="loadimage">
          <input ng-model="imageurl" type="url"></input>
          <button ng-click="loadimage()" class="btn btn-primary" type="button">Load Image</button>     
        </div>
        <div ng-repeat="image in images">
         <a href="#/image/{{$index}}"> <img class="cropped img-thumbnail" ng-src="{{image.img.src}}"></a>

        </div>
        <p style="clear: both;"> 
  </script>
  <script type="text/ng-template" id="/image.html">
    <h1>Load and comment images</h1>
    <img class="full center-block img-rounded" ng-src="{{image.img.src}}"  style="width: {{image.img.width}}px; height: {{image.img.height}}px"></img> 

  <form ng-submit="addComment()"
    class="comment-form"
    style="margin-top:30px;">
    <h4>Add a comment</h4>
    <div class="form-group">
      <input type="text"
      placeholder="Comment"
      class="form-control"
      ng-model="body"></input>
      <input type="text"
      placeholder="Author"
      class="form-control"
      ng-model="author"></input>
    </div>
    <button type="submit" class="btn btn-primary">Post comment</button>
  </form>
  <h4 class="comment-title">Comments:</h4>
  <div ng-repeat="comment in image.comments" class="comments well well-sm" style="width: 400px;">
    {{comment.author}}: {{comment.body}}
  </div>  

  </script>
  </body>
</html>
