
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Imagez!</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>

    <!--<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"</script>-->
    <script src="app.js"></script>

  </head>
  <body ng-app="imagez" ng-controller="MainCtrl">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1>Load and comment images</h1>
        <!--<div>
         <form>
            <input type="file" name="pic" accept="image/*">
            <input type="submit">
          </form>
        </div>-->
        <div class="loadimage">
          <input ng-model="imageurl" type="url"></input>
          <button ng-click="loadimage()" class="btn btn-primary" type="button">Load Image</button>     
        </div>
        <div ng-repeat="image in images">
          <img class="cropped" ng-src="{{image.src}}">
         <!--<img ng-src="{{image.src}}" style="width: {{image.width}}px; height: {{image.height}}px"></img>-->
        </div>
        <p style="clear: both;">
      </div>
    </div>
  </body>
</html>
